#content-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

body h2 {
    font-size: 21px;
    text-align: center;
    margin: 0;
    padding: 20px 40px;
    font-weight: 400;
    font-family: sans-serif;
    color: #353232;
}